.question-card-wrapper{
    width: 100%;
    background-color: #FAF8FF;
    gap: 13px;
    border-radius: 7px;
    padding: 24px !important;
}

.question-card-wrapper h3{
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
}